@import "vars";
@import "mixins";
.btns {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  .btn {
    border: 1px solid $black-color;
    border-radius: 100px;
    @include flexCenter();
    transition: 0.25s ease;
  }
  .transition:hover {
    background-color: $black-color;
    border-color: $black-color;
    color: $white-color;
  }
  .large {
    height: 50px;
    padding: 0 50px;
  }
}
